
.Rhistory
.RData
.DS_Store
.Rproj.user/D5BC62B9/sources/prop/5455703B
*.pper
.Rproj.user/D5BC62B9/sources/prop/5455703B
.Rproj.user/D5BC62B9/sources/prop/8078FD3D
.Rproj.user/D5BC62B9/sources/prop/C664D453
.Rproj.user/D5BC62B9/sources/prop/D97BDB6C
.Rproj.user/D5BC62B9/sources/prop/INDEX
